.vertLineContainer{
    height: var(--boxSide);
    width: var(--dotSide);
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertLine{
    height: 95%;
    width: 20%;
    border-radius: 1rem;
    background-color: beige;
    border: 1px solid black;
    cursor: pointer;
}